     * {
         box-sizing: border-box;
     }
     
     body {
         display: block;
     }
     
     header {
         background-image: url(/images/portada.jpg);
         padding: 1em;
         background-size: cover;
         width: 100%;
         font-family: 'Zen Old Mincho', serif;
         text-align: center;
         justify-content: center;
         padding: 5em;
     }
     
     .head-container {
         width: 40%;
         color: rgb(235, 224, 217);
         background-color: rgba(82, 31, 11, 0.5);
         font-size: 2em;
         font-style: italic;
         text-align: center;
         border-radius: 20%;
         justify-content: center;
         margin: auto;
         padding: 0.5em;
     }
     
     #mate {
         color: rgba(255, 255, 255, 0.863);
         text-align: center;
         margin: 5%;
         font-size: 2.5em;
         font-style: italic
     }
     /* #color {
         background-color: rgba(168, 53, 24, 0.4);
         text-align: justify;
     } */
     /* barra de navegación */
     
     nav {
         background-color: rgba(233, 72, 32, 0.5);
         /* margin-bottom: 2em; */
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     }
     
     nav ul {
         list-style: none;
         margin: 0;
         padding: 0;
     }
     
     nav ul li {
         display: inline-block;
         width: 15%;
         margin: 2px;
     }
     
     nav ul li a {
         color: white;
         text-align: center;
         display: block;
         padding: 0.2em 0.4em;
     }
     
     nav a:hover {
         background-color: rgb(187, 82, 82);
     }
     
     body {
         background-color: rgba(236, 203, 175, 0.5);
     }
     /* texto y formato del cuerpo del wwbcenter*/
     
     .main {
         font-size: 1.5em;
         display: flex;
         width: 100%;
         justify-content: center;
         align-items: center;
         background-color: white;
     }
     
     .main h1 {
         text-align: center;
         text-decoration: underline;
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
         color: rgb(158, 49, 6);
         font-style: oblique;
     }
     
     .main h2 {
         text-align: center;
     }
     
     .main-box {
         margin: 25px;
         padding-left: 20px;
         overflow: hidden;
     }
     
     .main-box h2 {
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         color: rgb(187, 82, 82);
         border-bottom: 3px solid rgb (255, 255, 255);
         text-decoration: underline;
     }
     
     #bancocen {
         float: left;
         width: 200px;
         height: 150px;
         margin: 15px;
         transition: 0.5s all;
         padding-bottom: 10px;
         /* justify-content: center; */
         border-radius: 40%;
         border-color: rgb(187, 82, 82);
     }
     
     .box {
         width: 45%;
         text-align: justify;
         padding: 0.5em;
         margin: 2px;
     }
     
     .box.right {
         float: right;
         padding: 0;
     }
     
     .box.right p {
         font-style: italic;
     }
     
     .box.left p {
         font-style: italic;
     }
     
     .box.left {
         /* border-right: 2px solid rgb(187, 82, 82); */
         float: left;
     }
     
     #bancocen:hover {
         width: 300px;
         height: 200px;
     }
     /* footer */
     
     .main-footer {
         background-color: rgb(158, 49, 6);
         padding: .25em 0;
     }
     
     .main-footer-container {
         display: block;
         /* flex-grow: 1em; */
         text-align: center;
         background-color: rgb(187, 82, 82);
         padding: 2px;
     }
     
     .bank-name {
         font-size: 2.5em;
         font-weight: 300;
         color: white;
         /* font-family: 'Dancing Script', cursive;
         font-family: 'Festive', cursive; */
     }
     
     .footer-nav {
         justify-content: center;
         list-style: none;
     }
     
     footer a {
         font-size: 2em;
     }
     /* HTML WWB NOSOTROS */
     
     .uscontainer {
         width: 100%;
         margin-bottom: 5em;
     }
     
     .Historia {
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         font-size: 1em;
         border-color: #999;
         border: 2px solid rgb(158, 49, 6);
         padding: 1em;
         margin: 1em;
         color: rgb(158, 49, 6);
     }
     
     .staff {
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         font-size: 1em;
         border-color: #999;
         border: 2px solid rgb(158, 49, 6);
         padding: 1em;
         margin: 1em;
         color: rgb(158, 49, 6);
     }
     
     .Historia h1 {
         font-style: italic;
     }
     
     .usboxes {
         text-align: center;
         overflow: hidden;
     }
     
     .boxs {
         display: inline-block;
         width: 18%;
         background-color: rgba(187, 82, 82, 0.5);
         justify-content: center;
         text-align: center;
         padding: 5px;
         margin: 8px;
         border: 1px solid rgb(33, 116, 47);
         box-sizing: border-box;
     }
     
     .boxs img {
         width: 50%;
         height: 10%;
         /* padding: 1em; */
         border: 2% solid rgb(187, 82, 82);
         border-radius: 15%;
         justify-content: center;
     }
     
     .boxs h2 {
         text-decoration: underline;
     }
     
     .boxs h3 {
         font-style: italic;
     }
     
     .boxs p {
         text-align: justify;
         font-weight: normal;
         font-style: italic;
     }
     /* HTML WWB SERVICIOS */
     
     .serviciosbox {
         text-align: center;
     }
     
     .serviciosbox h1 {
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
         font-style: italic;
         text-decoration: underline;
         font-weight: 600;
     }
     
     .servicios-minibox {
         /* width: 70%; */
         background-color: rgb(158, 49, 6);
         margin-left: 4em;
     }
     
     .wwbservicios {
         width: 70%;
         border: 1px solid gray;
         border-radius: 0.7em;
         overflow: hidden;
         margin: 1em 0 3em 12em;
         padding: 1em;
     }
     
     .wwbservicios img {
         width: 25%;
         border-radius: 0.8em;
     }
     
     .wwbservicios .info {
         width: 73%;
     }
     
     .wwbservicios .info h2 {
         color: rgb(158, 49, 6);
         font-size: 1.2em;
         font-style: italic;
         font-weight: 400;
         margin: 0 0 1em;
         border-bottom: 1px solid rgb(158, 49, 6);
         padding-bottom: 0.5em;
     }
     
     .wwbservicios:nth-child(even) img {
         float: right;
         margin: 0 0 0 1em;
     }
     
     .wwbservicios:nth-child(even) .info {
         float: left;
     }
     
     .wwbservicios:nth-child(odd) img {
         float: left;
         margin: 0 1em 0 0;
     }
     
     .wwbservicios:nth-child(odd) .info {
         float: right;
     }
     /* HTML WWB CONTACTS */
     
     .main-contact {
         width: 100%;
         display: inline-flex;
         /* background-color: turquoise; */
         font-size: 1em;
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     }
     
     .columna {
         width: 50%;
         padding: 1.6em;
         margin-bottom: 1em;
         /* background-color: tomato; */
     }
     
     .columna.left {
         border-right: 2px solid rgb(158, 49, 6);
         padding: 2em;
     }
     
     .columna.left h2 {
         color: rgb(158, 49, 6);
         text-align: center;
         text-decoration: underline;
     }
     
     .columna.right {
         font-size: 1em;
         float: right;
         padding: 2em;
         /* background-color: tomato; */
     }
     
     .columna.right h2 {
         color: rgb(158, 49, 6);
         text-align: center;
         text-decoration: underline;
     }
     
     .columna.right ul li {
         font-size: 0.9em;
         list-style: none;
     }
     
     .forms label {
         vertical-align: top;
         width: 20%;
         display: inline-block;
     }
     
     .forms input,
     .forms textarea {
         background-color: #ddd;
         border-radius: 5px;
         border: 1px solid #999;
         padding: 0.4em 0 0.6em;
         font-size: 0.8em;
         width: 70%;
     }
     
     .forms input[type="submit"] {
         background-color: rgb(158, 49, 6);
         box-shadow: 0 0 10px rgba(233, 72, 32, 0.4);
         color: white;
         font-size: 1em;
         width: auto;
         cursor: pointer;
     }
     
     .forms textarea {
         height: 10em;
         resize: none;
     }
     
     .buttom-container {
         /* background-color: wheat; */
         justify-content: center;
         align-items: center;
         padding: 0;
         margin: 0;
         text-align: center;
     }
     
     .buttom {
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         font-size: 1.15em;
         width: 100px;
         height: 50px;
         color: white;
         background-color: rgb(223, 133, 59);
     }
     
     .buttom:hover {
         background-color: rgb(199, 158, 124);
     }
     /* @media not all,
     only screen and(-webkit-min-device-pixel-ratio: 1.25),
     not all,
     only screen and (min-resolution: 1.25dppx) body {
         background-attachment: scroll;
         background-position: 0 0 !important;
         background-repeat: no-repeat;
     } */