<section>

        <div class="main">

            <div class="main-box">
                <h1> CENTRO DE DATOS Y ANÁLISIS</h1>
                <div class="box left">

                    <h2>PRESTACIONES</h2>
                    <img id="bancocen" src="images/banco-thumb.png" alt="figu-banco">

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo culpa minus, consequuntur temporibus sequi aspernatur neque alias error iusto saepe aliquid ex, ea inventore fugit nulla similique sed sapiente. Quis.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nobis, dolorum quae natus doloribus possimus. Veniam itaque sunt, quisquam autem molestiae debitis ea consequatur mollitia nostrum sint ab corrupti odit!</p>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci ipsum ad placeat. Nam dolorem veritatis necessitatibus exercitationem ad distinctio magni provident placeat, ipsum architecto rerum doloremque optio culpa, dignissimos
                        saepe.
                    </p>

                </div>
                <div class="box right">
                    <h2> FLUJO MONETARIO</h2>
                    <img id="bancocen" src="images/Bancos-centrales-inflacion.jpg" alt="">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis commodi pariatur sapiente harum numquam eveniet laborum sit? Alias, recusandae quam! Sapiente repudiandae sed temporibus voluptatibus eligendi ad provident vero repellendus!</p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat alias, non cupiditate in nisi nostrum numquam exercitationem, velit magnam vitae repudiandae incidunt fuga esse et placeat provident hic! Ea, iusto.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit eius voluptatum distinctio voluptates porro quas itaque rerum. Maiores quidem facilis placeat est in ab accusantium labore error odio? Quia, odio?</p>

                </div>

                

                
            </div>

            

            

        </div>

    </section>