<section>
        <div class="uscontainer">
            <div class="usboxes">
                <div class="Historia">
                    <H1>HISTORIA</H1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae numquam architecto quia? A quas at sint eveniet dolores quos, aperiam consectetur odit doloribus, optio molestias error vitae, corporis nostrum sapiente?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime vitae ipsa eos alias ducimus assumenda ullam. Cum atque non quaerat rem corrupti iste, voluptatum maxime perspiciatis asperiores rerum, culpa hic.</p>
                </div>

                <h2 class="staff">Staff</h2>

                <div class="row row-cols-1 row-cols-sm-5 g-4" style="width: 90%; margin: auto; background-color: rgba(187, 82, 82, 0.5); padding-bottom: 1em;">
                    <div class="col">
                        <div class="card" style="background-color: rgba(187, 82, 82, 0.3);">
                            <img src="/images/nosotros1.jpg" class="card-img-top" alt="gerente" style="border-radius: 1em;">
                            <div class="card-body">
                                <h5 class="card-title">Maximo Paciulli</h5>
                                <h6>Gerente</h6>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem alias repudiandae est commodi placeat voluptate nostrum animi? Suscipit nisi porro repellat asperiores, earum dignissimos ullam, quo ab animi, esse unde?.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="background-color: rgba(187, 82, 82, 0.3);">
                            <img src="/images/nosotros2.jpg" class="card-img-top" alt="gerente" style="border-radius: 1em;">
                            <div class="card-body">
                                <h5 class="card-title">Juana Perez</h5>
                                <h6>Mánager</h6>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem alias repudiandae est commodi placeat voluptate nostrum animi? Suscipit nisi porro repellat asperiores, earum dignissimos ullam, quo ab animi, esse unde?.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card" style="background-color: rgba(187, 82, 82, 0.3);">
                            <img src="/images/nosotros3.jpg" class="card-img-top" alt="CRIPTOBOY">
                            <div class="card-body">
                                <h5 class="card-title">Bobby Bob</h5>
                                <h6>CriptoExperto</h6>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem alias repudiandae est commodi placeat voluptate nostrum animi? Suscipit nisi porro repellat asperiores, earum dignissimos ullam, quo ab animi, esse unde?.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="background-color: rgba(187, 82, 82, 0.3);">
                            <img src="/images/nosotros4.jpg" class="card-img-top" alt="VIP">
                            <div class="card-body">
                                <h5 class="card-title">Janis Joplin</h5>
                                <h6>VIP Mánager</h6>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem alias repudiandae est commodi placeat voluptate nostrum animi? Suscipit nisi porro repellat asperiores, earum dignissimos ullam, quo ab animi, esse unde?.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="background-color: rgba(187, 82, 82, 0.3);">
                            <img src="/images/nosotros5.jpg" class="card-img-top" alt="gerente">
                            <div class="card-body">
                                <h5 class="card-title">Jean-Paul Mastique</h5>
                                <h6>Auxiliar</h6>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem alias repudiandae est commodi placeat voluptate nostrum animi? Suscipit nisi porro repellat asperiores, earum dignissimos ullam, quo ab animi, esse unde?.</p>
                            </div>
                        </div>
                    </div>
                </div>


                </div>

            </div>

        </div>

        <hr>