<h2 style="font-style: italic; text-align: center; background-color: rgba(255, 255, 251, 0.1)">Novedades</h2>
{{#each novedades}}
<div class="novedades"style="background-color: rgba(255, 255, 251, 0.5)">
    <h3 style="text-align: justify; background-color:rgba(255, 255, 251, 0.5)">{{titulo}}</h3>
    <h4 style="text-align: justify; background-color:rgb(255, 255, 255)">{{subtitulo}}</h4>
    <p style="text-align: justify;background-color:rgb(255, 255, 255)">{{cuerpo}}</p>

</div>
{{/each}}