<section>

  <div class="serviciosbox">
    <h1>SERVICIOS</h1>
    <div class="servcicios-minibox">
      <div class="wwbservicios">
        <img src="images/banco mini.jpg" alt="" />

        <div class="info">
          <h2>Transferencia Internacional</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
            distinctio reprehenderit deserunt, a eaque quibusdam hic neque.
            Harum praesentium, saepe sequi voluptatibus provident maxime dolores
            eum reiciendis dolorem laudantium aperiam.
          </p>
        </div>

      </div>
      <div class="wwbservicios">

        <img src="images/0_eESAUSOPuOG-qmIZ.jpg" alt="" />
        <div class="info">
          <h2>Cuenta Corriente</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
            distinctio reprehenderit deserunt, a eaque quibusdam hic neque.
            Harum praesentium, saepe sequi voluptatibus provident maxime dolores
            eum reiciendis dolorem laudantium aperiam.
          </p>
        </div>

      </div>
      <div class="wwbservicios">

        <img src="images/bank-western-1920x1080-66780.jpg" alt="" />
        <div class="info">
          <h2>Seguridad</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
            distinctio reprehenderit deserunt, a eaque quibusdam hic neque.
            Harum praesentium, saepe sequi voluptatibus provident maxime dolores
            eum reiciendis dolorem laudantium aperiam.
          </p>
        </div>

      </div>
      <div class="wwbservicios">

        <img src="images/fotobancoheader.jpg" alt="" />
        <div class="info">
          <h2>Caja fuerte</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
            distinctio reprehenderit deserunt, a eaque quibusdam hic neque.
            Harum praesentium, saepe sequi voluptatibus provident maxime dolores
            eum reiciendis dolorem laudantium aperiam.
          </p>
        </div>

      </div>

    </div>
  </div>

</section>